# Frontend ignores
frontend/node_modules/
frontend/dist/
frontend/.angular/
node_modules/
dist/
.angular/

# Backend ignores
backend/__pycache__/
backend/venv/
backend/.env
__pycache__/
*.py[cod]
.env

# Editor & OS settings
.vscode/
.idea/
.DS_Store
Thumbs.db